.header-container {
    display:flex;
    justify-content: space-between;
    align-items: center;
  background-color: #1c2b35;
  height: 80px;
 
}
.header-container img{
margin-left: 140px;
}


.header-content-right{
    margin-right: 140px;
}

.header-content-right a {

  color: #ffffff;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  letter-spacing: 0.005em;
  text-decoration: none;
  margin-right: 35px;

}
